{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}
    <span class="post__subtitle">
      {{.}}
    </span>
    {{ end }}
  </header>
  <div class="post">
    {{ .Content }}
  </div>
  {{ partial "page-single/post-navigation.html" . }}
  {{ partial "page-single/post-related.html" . }}
  {{ partial "page-single/post-comment.html" . }}
</article>
{{ end }}

{{ define "footer" }}
  {{ if .Site.GoogleAnalytics }}
    <!-- Google Analytics -->
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  {{ partial "footer/font-awesome-js.html" . }}
{{ end }}
